<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. voiture" #input>
</mat-form-field>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
        <!-- ID Column -->
        <ng-container matColumnDef="vType">
            <th mat-header-cell *matHeaderCellDef style="background-color: #6231b6;"> Type </th>
            <td mat-cell *matCellDef="let row"> {{row.vType}} </td>
        </ng-container>
    
        <!-- Progress Column -->
        <ng-container matColumnDef="vMarque">
            <th mat-header-cell *matHeaderCellDef style="background-color: #6231b6;"> Marque </th>
            <td mat-cell *matCellDef="let row"> {{row.vMarque}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="vModele">
            <th mat-header-cell *matHeaderCellDef style="background-color: #6231b6;"> Modele </th>
            <td mat-cell *matCellDef="let row"> {{row.vModele}} </td>
        </ng-container>
    
        <!-- Fruit Column -->
        <ng-container matColumnDef="vPuissance">
            <th mat-header-cell *matHeaderCellDef style="background-color: #6231b6;"> Puissance </th>
            <td mat-cell *matCellDef="let row"> {{row.vPuissance}} </td>
        </ng-container>

        <ng-container matColumnDef="gNom">
            <th mat-header-cell *matHeaderCellDef style="background-color: #6231b6;"> Nom Garage </th>
            <td mat-cell *matCellDef="let row"> {{row.gNom}} </td>
        </ng-container>
        <ng-container matColumnDef="gAdresse">
            <th mat-header-cell *matHeaderCellDef style="background-color: #6231b6;"> Adresse Garage </th>
            <td mat-cell *matCellDef="let row"> {{row.gAdresse}} </td>
        </ng-container>
        <ng-container matColumnDef="cNom">
            <th mat-header-cell *matHeaderCellDef style="background-color: #6231b6;"> Nom Client </th>
            <td mat-cell *matCellDef="let row"> {{row.cNom}} </td>
        </ng-container>
        <ng-container matColumnDef="cPrenom">
            <th mat-header-cell *matHeaderCellDef style="background-color: #6231b6;">Prenom Client </th>
            <td mat-cell *matCellDef="let row"> {{row.cPrenom}} </td>
        </ng-container>
        <ng-container matColumnDef="cAdresse">
            <th mat-header-cell *matHeaderCellDef style="background-color: #6231b6;"> Adresse Client </th>
            <td mat-cell *matCellDef="let row"> {{row.cAdresse}} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef style="background-color: #6231b6;"> Actions </th>
            <td mat-cell *matCellDef="let row"> 
                <button mat-button color="primary" (click)="edit(row.id)">
                    Edit
                </button> 
                <button mat-button (click)="delete(row.id)" color="warn">
                    Delete
                </button>
            </td>
        </ng-container>
        
        

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="10">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>

</div>

<!-- <div>
    <ul>
        <li *ngFor="let data of theData |async">
            client: {{data.cNom}}, {{data.cPrenom}}, {{data.cAdresse}} |||
            garage: {{data.gNom}}, {{data.gAdresse}} ||| 
            voiture: {{data.vType}}, {{data.vMarque}}, {{data.vModele}}, {{data.vPuissance}}
            <button mat-button color="primary" (click)="edit(data.id)">
                edit
            </button> 
            <button mat-button (click)="delete(data.id)" color="warn">
                delete
            </button>

        </li>
    </ul>
</div> -->
