table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

td,th {
    width: calc(100/10);
    text-align: center;
}
th{
    font-weight: bold;
    text-transform: uppercase;
    color: whitesmoke;
}
td{
    text-transform: capitalize;
    font-weight: 600;
}
