<div mat-dialog-title>
    <h1> formulaire </h1>
</div>
<form [formGroup]="editForm" (ngSubmit)="saveData()">
    <div mat-dialog-content class="content">
        <!-- les vehicules -->
        <fieldset>
            <legend><h4>vehicules</h4></legend>
            <div class="row">
                <mat-form-field>
                    <mat-label>Type</mat-label>
                    <input matInput type="text" placeholder="Ex. voiture" formControlName="vType">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Marque</mat-label>
                    <input matInput type="text" placeholder="Ex. Audi" formControlName="vMarque">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Modele</mat-label>
                    <input matInput type="text" placeholder="Ex. A8" formControlName="vModele">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Puissance</mat-label>
                    <input matInput type="text" placeholder="Ex. 561 ch" formControlName="vPuissance">
                </mat-form-field>
            </div>
        </fieldset>
        <!-- garage -->
        
        <fieldset>
            <legend><h4>garage</h4></legend>
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>quel garage?</mat-label>
                    <mat-select formControlName="gNom">
                        <mat-option value="garage1">
                            garage 1
                        </mat-option>
                        <mat-option value="garage2">
                            garage 2
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Adresse</mat-label>
                    <input matInput type="text" placeholder="Ex. hay riad" formControlName="gAdresse">
                </mat-form-field>
            </div>
        </fieldset>    
        
        <!-- client -->
        <fieldset>
            <legend><h4>client</h4></legend>
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Nom</mat-label>
                    <input matInput type="text" placeholder="Ex. Naciri" formControlName="cNom">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Prenom</mat-label>
                    <input matInput type="text" placeholder="Ex. Amal" formControlName="cPrenom">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="adr-client" appearance="outline">
                    <mat-label>Adresse</mat-label>
                    <input matInput type="text" placeholder="Ex. quartier charaf" formControlName="cAdresse">
                </mat-form-field>
            </div>
        </fieldset>
        
    </div>

    <div mat-dialog-actions>
        <button mat-raised-button type="button" (click)="closeDialog()">Cancel</button>
        <button mat-raised-button type="submit" color="primary">Save</button>
    </div>
</form>